body{
    background-repeat: repeat;
    background-image: url(../images/sljokice.gif);
}

.container{
    background-repeat:no-repeat;
    background-position: center center;
    background-image:url(../images/pozadina.png);
    min-height:800px;
}